<div class="container" id="corps">
  <div class="container" id="element" *ngFor="let problem of problems">
    <mdb-card>
      <mdb-card-header>{{problem}}</mdb-card-header>
      <mdb-card-body>
        <p> VOICI LE PB</p>
        <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
      </mdb-card-body>
      <div class="row">
        <div class="col-auto ml-auto">
            <button mdbBtn type="button" rounded="true" mdbWavesEffect>Problème réglé</button>
        </div>
        <div class="container" id="bottom">

        </div>
      </div>
    </mdb-card>
  </div>
</div>