<div class="container" id="corps">
  <div class="container animated fadeIn" id="element" *ngFor="let problem of problems">
    <mdb-card>
      <mdb-card-header>
        <div class="row">
          <div class="col-auto mr-auto">
            TYPE DE PROBLÈME : {{problem.type}}
          </div>
          <div class="col-auto ml-auto pl-2">
            <div *ngIf="problem.author === true"><i class="fas fa-plane"></i></div>
            <div *ngIf="problem.author === false"><i class="fas fa-users"></i></div>
          </div>
        </div>
      </mdb-card-header>
      <mdb-card-body>
        <div class="row">
          <div class="col-auto mr-auto">
            <mdb-card-text><b>Identifiant : </b> {{problem.passNb}}</mdb-card-text>
          </div>
          <div class="col-auto ml-auto">
            <mdb-card-text><b> Date : </b> {{problem.date}}</mdb-card-text>
          </div>
        </div>
        <mdb-card-text><b> Message : </b> </mdb-card-text>
        <mdb-card-text>{{problem.message}}</mdb-card-text>
      </mdb-card-body>
      <div class="row">
        <div class="col-auto ml-auto">
          <button mdbBtn type="button" rounded="true" mdbWavesEffect>Problème réglé</button>
        </div>
        <div class="container" id="bottom">
        </div>
      </div>
    </mdb-card>
  </div>
</div>