
div.container.navbar div.row {
    width: 100%;
    margin-top: 12.5%;
    background: #828282;
    border-radius: 10px;
    overflow: hidden;
  }
  
  div.col-lg-2.selected{
    background-color: #F9F2F2;
  }
  
  .card-header.selected {
    background-color: #F9F2F2;
  }
  
  .col {
    width: 100%;
  }
  
  .Mon.Passeport{
    height: auto;
    font-size: 15px;
  }
  .col-lg-2 {
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: inline-block;
    border-right: 2px solid #828282;
    background-color: #C7C6C6;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .mb {
    margin-bottom: -15px;
  }
  
  .card-header {
    background-color: #C7C6C6;
  }
  
  div.container.object .row{
    width: 95%;
    margin-top: -8px;
    height: 500px;
    transform: translate(16px);
    background-color: #F9F2F2;
    overflow: auto;
  }
  