
.row {
  width: 100%;
  margin-left: 3%;
  margin-top: 12.5%;
  background: #828282;
  border-radius: 10px;
  overflow: hidden;
}

.selected {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #F9F2F2;
}

.col {
  width: 100%;
}

.Mon.Passeport{
  font-size: 15px;
}
.col-lg-2 {

  width: 100%;
  height: 50px;
  display: inline-block;
  border-right: 2px solid #828282;
  background-color: #C7C6C6;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.mb {
  margin-bottom: -12px;
}

.card-header {
  width: 100%;
  height: 100%;
}

.col.a {
  background-color: #F9F2F2;
}