<div class="container navbar">

  <!-- Marketing Icons Section -->
  <div class="row">

    <div class="col">

      <div class="col-lg-2 mb mt-3 {{vue}}" routerLink="{{vue}}" [class.selected]="vue === selectedVue"
        (click)="onClick(vue)" *ngFor="let vue of passBar">

        <p class="card-header" [class.selected]="vue === selectedVue">
          {{vue}}
        </p>
        <!-- 
      
                <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
              </div>
      
              <div class="card-footer">
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
      -->

      </div>

    </div>

  </div>

</div>

<div class="container object">
  <div class="row">

    <router-outlet></router-outlet>

  </div>
</div>