<!--  Premiere colonne  -->
<div class="col-auto a">

  <!--  Voyant  -->
  <div class="row a ">
    <span class="valid">
      <strong> {{pass.validity}} </strong>
    </span>
  </div>

  <!--  Photo  -->
  <div class="row maPhoto mt-3">
    <img src="{{pass.image}}" class="image"alt="">
  </div>

  <!--  Info importante du passeport (date d'expiration etc...)  -->
  <div class="row b">
    <p>
      <span class="titre">{{frInfo.passOrigin}}</span>
      <span class="trad">/{{enInfo.passOrigin}}:</span>
      <br />
      <strong> {{pass.passOrigin}} </strong>
    </p>
  </div>

  <div class="row b ">
    <p>
      <span class="titre">{{frInfo.dateOfExpiry}}</span>
      <span class="trad">/{{enInfo.dateOfExpiry}}:</span>
      <br />
      <strong> {{pass.dateOfExpiry}} </strong>
    </p>
  </div>

  <div class="row c">
    <p>
      <strong>Signature</strong>
    </p>
  </div>

</div>


<!--  Deuxieme colonne  -->
<div class="col-auto b">
  
  <!--  Premiere colonne des infos  -->
  <div class="col-auto c">
    <div class="row a">
      <p>
        <span class="titre">{{frInfo.type}}</span>
        <span class="trad">/{{enInfo.type}}:</span>
        <br />
        <strong> {{pass.type}} </strong>
      </p>
    </div>

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.surname}}</span>
        <span class="trad">/{{enInfo.surname}}:</span>
        <br />
        <strong>{{pass.surname}}</strong>
      </p>
    </div>


    <div class="row a">
      <p>
        <span class="titre">{{frInfo.sex}}</span>
        <span class="trad">/{{enInfo.sex}}:</span>
        <br />
        <strong>{{pass.sex}}</strong>
      </p>
    </div>

  </div>

  <!--  Deuxieme colonne des infos  -->
  <div class="col-auto c">

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.countryCode}}</span>
        <span class="trad">/{{enInfo.countryCode}}:</span>
        <br />
        <strong>{{pass.countryCode}}</strong>
      </p>
    </div>

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.name}}</span>
        <span class="trad">/{{enInfo.name}}:</span>
        <br />
        <strong>{{pass.name}}</strong>
      </p>
    </div>

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.height}}</span>
        <span class="trad">/{{enInfo.height}}:</span>
        <br />
        <strong>{{pass.height}}</strong>
      </p>
    </div>

  </div>

  <!--  Troisième colonne des infos  -->
  <div class="col-auto c">

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.passNb}}</span>
        <span class="trad">/{{enInfo.passNb}}:</span>
        <br />
        <strong>{{pass.passNb}}</strong>
      </p>
    </div>

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.dateOfBirth}}</span>
        <span class="trad">/{{enInfo.dateOfBirth}}:</span>
        <br />
        <strong>{{pass.dateOfBirth}}</strong>
      </p>
    </div>

    <div class="row a">
      <p>
        <span class="titre">{{frInfo.eyesColor}}</span>
        <span class="trad">/{{enInfo.eyesColor}}:</span>
        <br />
        <strong>{{pass.eyesColor}}</strong>
      </p>
    </div>


  </div>

  <!--  Premiere ligne après les 3 colonnes des infos -->

  <div class="row d">

    <div class="col-auto c">
      <p>
        <span class="titre">{{frInfo.placeOfBirth}}</span>
        <span class="trad">/{{enInfo.placeOfBirth}}:</span>
        <br />
        <strong>{{pass.placeOfBirth}}</strong>
      </p>
    </div>

    <div class="col-auto c">
      <p>
        <span class="titre">{{frInfo.residence}}</span>
        <span class="trad">/{{enInfo.residence}}:</span>
        <br />
        <strong>{{pass.residence}}</strong>
      </p>
    </div>

  </div>

  <!--  deuxième ligne  -->

  <div class="row e">

    <div class="col-auto c">
      <p>
        <span class="titre">{{frInfo.autority}}</span>
        <span class="trad">/{{enInfo.autority}}:</span>
        <br />
        <strong>{{pass.autority}}</strong>
      </p>
    </div>

    <div class="col-auto c">
      <p>
        <span class="titre">{{frInfo.dateOfIssue}}</span>
        <span class="trad">/{{enInfo.dateOfIssue}}:</span>
        <br />
        <strong>{{pass.dateOfIssue}}</strong>
      </p>
    </div>

  </div>

  <!--  troisième ligne  -->
  <div class="row f">

    <div class="col-lg-8 c">
      <p>
        <span class="titre">{{frInfo.id}}</span>
        <span class="trad">/{{enInfo.id}}:</span>
        <br />
        <strong>{{id}}</strong>
      </p>
    </div>

    <div class="col-lg-4 c">
      <p>
        <span class="titre">{{frInfo.nationality}}</span>
        <span class="trad">/{{enInfo.nationality}}:</span>
        <br />
        <strong>{{pass.nationality}}</strong>
      </p>
    </div>

  </div>
</div>