/*                                    Premiere colonne                              */

div.col-auto.a {
    display: inline-block;
    margin-left: 30px;

}

div.col-auto.a div.row.a {

    height : 30px;
    
    background: #219653;
    border-radius: 10px;

    display: block;
    text-align: center;
    padding-top: 2px;
}

.image{
    max-width: 100%;
	height: 100%;
    
}
div.col-auto.a div.row.maPhoto {
    /*                        Photo                            */

    height : 260px;
    width :170px;
    background: #2F404D;
    border-radius: 10px;
    
}

div.col-auto.a div.row.c {
    /*                        Signature                            */

    height : 50px;
    background: #2F404D;
    border-radius: 10px;
    align-items: flex-start;
    display: block;
    text-align: center;
}

/*                                    Deuxième colonne                              */

div.col-auto.b {
    margin-top: 10px;
    display: inline-block;
    height: auto;
    width: auto;
    margin-left: 30px;

}

div.col-auto.c {
    display: inline-block;
    margin-right: 60px;
}

/*                             Text                                                         */
span.titre {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;

    color: #2F404D;
}

span.trad {
    margin-left: 5px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    font-size: 11px;
    color: #2F404D;  
}