<div class="accordion" id="accordionExample">
  <div class="card" *ngFor="let problem of problems;let iteration = index">
    <div class="card-header">
      <h2 class="mb-0">
        <div class=row>
          <div class="col-auto mr-auto">
            <button class="btn" data-toggle="collapse" [attr.data-target]="'#collapse'+ iteration" aria-expanded="false"
              aria-controls="collapseOne">
              {{problem.title}}
            </button>
          </div>
          <div class="col-auto ml-auto" *ngIf="problem.status === 'treated'">
              <i class="fas fa-check-circle"></i>
          </div>
        </div>
      </h2>
    </div>
    <div [attr.id]="'collapse'+iteration" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-auto mr-auto">
              <mdb-card-text><b>Identifiant :</b> {{problem.passNb}}</mdb-card-text>
            </div>
            <div class="col-auto">
              <mdb-card-text><b> Email : </b> {{problem.email}}</mdb-card-text>
            </div>
            <div class="col-auto ml-auto">
              <mdb-card-text><b> Date : </b> {{problem.date}}</mdb-card-text>
            </div>
          </div>
          <mdb-card-text><b> Message : </b> </mdb-card-text>
          <mdb-card-text>{{problem.message}}</mdb-card-text>
        </div>
      </div>
    </div>
  </div>
</div>