/*                                    Premiere colonne                              */

div.col-auto.a {
    display: inline-block;
    margin-left: 30px;
}

.validity {

    height : 30px;
    
    background: #219653;
    border-radius: 10px;

    display: block;
    text-align: center;
    padding-top: 2px;
}
.validity.selected {
    height : 30px;
    background: #dd5b5b;
    border-radius: 10px;
    display: block;
    text-align: center;
    padding-top: 2px;
}

.image{
    height:13em; 
    width: auto; 
    object-fit: cover;
}
.mt-custom{
    margin-top:5%
}

/*                             Text                                                         */
span.titre {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;

    color: #2F404D;
}

span.trad {
    margin-left: 5px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    font-size: 11px;
    color: #2F404D;  
}

button.generate:hover{
    cursor: pointer;
    background-color: #5DAC99;
}

button.mdp:hover{
    cursor: pointer;
    background-color: #5DAC99;
}

button.generate{
    cursor: pointer;
    background-color: #2F404D;
    color : white;
    border-radius: 10px;
    overflow: hidden;
}

button.mdp{
    cursor: pointer;
    background-color: #2F404D;
    color : white;
    border-radius: 10px;
    overflow: hidden;
}