/* Conteainer AJOUT VISA */
.card-header {
    margin-top:5em;
    width:auto; 
    max-width:58em;  
    border-radius: 1em;
    overflow: hidden;
    justify-content: center; 
    margin-left:auto; 
    margin-right:auto; 
    background-color: #2F404D;
    text-align: center;
    font-size: 22px;
    color : white;
}

/* Conteneur du formulaire */
div.container-fluid.object div.row.object{
    width: 93%;
    margin-top: -25px;
    margin-left: 3.5%;
    height: 100%;
    background-color: #C4C4C4;
    overflow: auto;
   
}


div.bouton{
    width: 100%;
}

button.generate:hover{
    cursor: pointer;
    background-color: #5DAC99;
    height: 40px;
    width : 200px;
    color : white;
    border-radius: 10px;
    overflow: hidden;
}

button.generate{
    cursor: pointer;
    background-color: #2F404D;
    height: 40px;
    width : 200px;
    color : white;
    border-radius: 10px;
    overflow: hidden;
}

input{
    width:200px;
}

select{
    width:200px;
}