
.cercle {
  display: block;
  width: 320px;
  height: 250px;
  background-color: #C4C4C4;
  border-radius: 40px;
}
.font{
    font-family:Roboto;
    font-size:20pt;
}
.police{
    width:150px;
    height: 150px;
}

