<div class="container-fluid">
  <div class="d-flex justify-content-around flex-row  mt-5 mb-5">
    

      <div class="cercle d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
          <img src="../assets/img/team.png" class="police ml-4 ">
          <div class="font mt-3">
            Espace Particulier
          </div>
        </div>
      </div>



      <div class="cercle d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
          <img src="../assets/img/museum.png" class="police ">
          <div class="font mt-3">
            Espace gouvernementale
          </div>
        </div>
      </div>


      <div class="cercle d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-center">
          <img src="../assets/img/police.png" class="police ">
          <div class="font mt-3">
          Espace douanier
          </div>
        </div>
      </div>

  </div>
</div>
