<ng-template [ngIf]="global.tbInfo === 'all'"><app-toolbar></app-toolbar></ng-template>
<ng-template [ngIf]="global.tbInfo === 'citoyen'"><app-toolbar-citoyen ></app-toolbar-citoyen></ng-template>
<ng-template [ngIf]="global.tbInfo === 'gouvernement'"><app-toolbar-gouv ></app-toolbar-gouv></ng-template>
<ng-template [ngIf]="global.tbInfo === 'douanes'"><app-toolbar-douane ></app-toolbar-douane></ng-template>

<router-outlet></router-outlet>
<!--  <app-passeport></app-passeport>  -->

<!-- Footer -->
<footer class="page-footer font-small">
    <div class="footer-copyright text-center py-3">Site réalisé dans le cadre des projets S8 de la filière Télécommunications de l'ENSEIRB-MATMECA
    </div>
</footer>
  <!-- Footer -->