<div class="container-fluid">

  <div class="row connect">

    <div class="col-md-4"></div>

    <div class="col-md-4 custom rounded">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="row title justify-content-md-center mt-4 ml-auto mr-auto mb-2">

          <div class="col"> </div>
          <div class="col">
            <p> Gouvernement </p>
          </div>
          <div class="col"> </div>

        </div>

        <div class="row form-group ml-auto mr-auto mt-5">

          <label for="identifiant">
            Identifiant:
          </label>

          <input type="text" class="form-control" id="identifiant" formControlName="identifiant"
            [ngClass]="{ 'is-invalid': submitted && f.identifiant.errors }">

          <div *ngIf="submitted && f.identifiant.errors" class="invalid-feedback">
            <div *ngIf="f.identifiant.errors.required">Un identifiant est nécessaire</div>
          </div>

        </div>

        <div class="row password form-group ml-auto mr-auto">

          <label for="password">
            Mot de Passe:
          </label>

          <input type="password" class="form-control" id="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Un mot de passe est nécessaire</div>
          </div>

          <p class="forget" routerLink="#"> Mot de passe oublié ?</p>

        </div>

        <div class="row checkbox form-group ml-auto mr-auto mb-3">


          <input type="checkbox" formControlName="checkbox" class="form-control checkbox" id="checkbox"
            [ngClass]="{ 'is-invalid': submitted && f.checkbox.errors }">


          <label for="checkbox">
            Accepter les conditions d'utilisation
          </label>


          <div *ngIf="submitted && f.checkbox.errors" class="invalid-feedback">
            <div *ngIf="f.checkbox.errors.required">Veuillez accepter les conditions d'utilisations</div>
          </div>




        </div>

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>

        <div class="row connect-button ml-auto mr-auto mb-4">

          <div class="col">
              <button class="btn btn-custom" routerLink="/Se connecter">

                Retour
  
              </button>
          </div>
          
          <div class="col"></div>

          <div class="col form-group">

            <button class="btn btn-custom">

              Connexion
            </button>

          </div>

        </div>

      </form>
    </div>
    <div class="col-md-4">
    </div>

  </div>

</div>