div.container-fluid {
    width: 100%;
    margin-top: 12.5%;
    border-radius: 10px;
    overflow: hidden;
}

div.col-md-4.custom{
    border: 2px solid #2F404D;;
}

div.row.title {
    background: #2F404D;
    border-radius: 10px;
    color : white;
}

div.row.title{
    overflow: hidden;
}

.btn-custom{
    background: #2F404D;
    color : white;
}
.btn-custom:hover{
    background: #5DAC99;
    color : white;
}

div.row.title div.col p{
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
}

div.row.connect{
    margin-bottom: 50px;
}

div.row.password p.forget{
    color: #989FA4;
    font-size: 10px;
    cursor: pointer;
}