.mt-custom{
margin-top: 50px;
}

.card{
    background-color: #2F404D;
    border-radius:4px !important;
    border-left:0;
    border-right:0;
}

.btn.btn-link{
    color:white !important;
}

.card-body{
    background-color: whitesmoke;
    color:#2F404D;
}

.btn{
    color:white;
}

.btn:hover{
    color:#5DAC99;
}

.valid{
    background-color: #5DAC99;
    width:100px;
    font-weight:bold;
    text-transform: capitalize;
}

span{
    font-weight:bold;
}