.cercle {
    display: block;
      
    background-color: #C4C4C4;
    border-radius: 40px;
}

.font{
      font-family:Roboto;
      font-size:18px;
}

.img{
      height: 175px;
}
  

.cercle:hover{
      background-color:#2F404D;
      color:white;
}

.museum{
   background-image: url("/src/assets/img/museum.png");
   height: 20vh;
}
  
.non-autorized{
    cursor: not-allowed;	
    background-color: gray;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, 
    rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    pointer-events: none;
}

.mt-custom{
    margin-top:10%;
}
  
  