<!-- TITLE-->
<div class="container mt-max ml-max">
        <div class="container padding-custom font-title wow animated fadeIn">
          <div class="d-flex justify-content-center ">
            <div class="text-center my_border pl-2 pr-2 pb-1 mt-4">Accédez à vos passeports en ligne</div>
          </div>
      </div>
</div>

<!-- Carousel-->
<header>
  <div id="carouselExampleIndicators" class="carousel slide wow animated fadeIn" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('../assets/img/passport.jpg')">
        <div class="carousel-caption font-carousel bg-custom rounded d-none d-md-block">
          <h3>Retrouvez vos passeports</h3>
          <p>Vous pouvez désormais traverser n'importe quelles frontières grâce à vos passeports dématérialisés.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../assets/img/Projet_S8.jpg')">
        <div class="carousel-caption font-carousel bg-custom rounded d-none d-md-block">
          <h3>Notre équipe</h3>
          <p>Vous pouvez apercevoir tous les membres de l'équipe qui ont   permis de mener à bien ce projet.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../assets/img/blockchain.png')">
        <div class="carousel-caption font-carousel bg-custom rounded d-none d-md-block">
          <h3>La blockchain au service de vos passeports</h3>
          <p>Vos passeports sont inviolables et totalement sécurisés grâce à la technologie de la blockchain.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>
<!--EQUIPE-->
<div class="container-fluid wow animated fadeIn">
  <div class=" d-flex align-items-start justify-content-center mt-5">
    <h1 class="my_border text-center pl-2 pr-2 pb-1 font-title">Notre équipe</h1>
  </div>

  <div class="container-fluid pt-5 wow animated fadeIn">
    <div class="row justify-content-around">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/nouille.png" class="sizen">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end"> Nathalie Uy</div>

      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/julien.png" class="sizet">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end"> Julien Mathet</div>

      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/clement.png" class="sizec">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end"> Clément Lefeu</div>

      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/Oussama.png" class="sizeo">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end"> Ousama Zemzami</div>

      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/Jean.png" class="sizet">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end"> Jean Rajaona</div>

      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/abdessamad.png" class="sizet">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end"> Abdessamad Atia</div>
      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/theo.png" class="sizet">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end">Théo Lépine</div>

      </div>
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 pr-2 pb-2 wow animated fadeIn">
        <div class="cercle d-flex justify-content-center mb-3">
          <img src="../assets/img/jerome_bitmoji.png" class="sizej">
        </div>
        <div class="d-flex justify-content-center font-name align-items-end">Jérôme Sola</div>

      </div>
    </div>
  </div>
</div>
<!--Techno-->
<div class=" d-flex align-items-center justify-content-center mt-max ml-max">
    <h1 class=" my_border  text-center pl-2 pr-2 pb-1 font-title wow animated fadeIn">Technologies</h1>
</div>

<div class="container-fluid justify-content-center mt-5 wow animated fadeIn">
  <div class="row justify-content-center">
      <div class="col-6 col-md-4 d-flex justify-content-center mb-5">
        <img src="../assets/img/angular.png" class="ang">
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-center mb-5">
        <img src="../assets/img/Hyperledger3.png" class="hyper">
      </div>
      <div class="col-6 col-md-4 d-flex justify-content-center mb-5">
        <img src="../assets/img/nodejs.png" class="node">
      </div>
      <div class="col-6 d-flex justify-content-end mb-5 pr-custom">
          <img src="../assets/img/jenkins.png" class="node">
      </div>
      <div class="col-6 col-md-6 d-flex justify-content-center mb-5 pl-custom">
        <img src="../assets/img/docker.png" class="node">
      </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small">
  <div class="footer-copyright text-center py-3">Site réalisé dans le cadre des projets S8 de la filière Télécommunications de l'ENSEIRB-MATMECA
  </div>
</footer>
<!-- Footer -->
