<!-- TITLE-->
    <div class="title">
        <h1 class="center">Accédez à votre passeport en ligne</h1>
    </div>

<!-- Carousel-->
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('../assets/img/passport.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Slide</h3>
          <p>This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../assets/img/hyper.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('../assets/img/blockchain.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!--EQUIPE-->
    <div class="centered">
        <h1 class="center">Notre équipe</h1>
    </div>
    <div class="margeOff">
    <b class="cercle pos1"></b>
    <b class="cercle pos2"></b>
    <b class="cercle pos3"></b>
    <b class="cercle pos4"></b>
    </div>
    <div class="margeOff2">
    <b class="cercle pos1"></b>
    <b class="cercle pos2"></b>
    <b class="cercle pos3"></b>
    
    <b class="cercle pos4"></b>
    <img src="../assets/img/jerome_bitmoji.png" class="jerome">
    <img src="../assets/img/nouille.png" class="nouille">
    <img src="../assets/img/julien.png" class="julien">
    <img src="../assets/img/clement.png" class="clement">
    <img src="../assets/img/Oussama.png" class="oussama">
    <img src="../assets/img/Jean.png" class="jean">
    <img src="../assets/img/abdessamad.png" class="abde">
    <img src="../assets/img/theo.png" class="theo">
    <!--
    <span class=name> JEROME SOLA</span>
    <span class=name1>NATHALIE UY</span>
    <span class=name2>JULIEN MATHET</span>
    <span class=name3>OUSSAMA ZEMZAMI</span>
    <span class=name4>CLEMENT LEFEU</span>
    <span class=name5>THEO LEPINE</span>
    <span class=name6>ABDESSAMAD ATIA</span>
    <span class=name7>JEAN RAJAONA</span>-->
    </div>

<!--Techno-->

    <div class="centered2">
        <h1 class="center">Technologies</h1>
    </div>
    <img src="../assets/img/angular.png" class="ang">
    <img src="../assets/img/hyperledger.png" class="hyper">
    <img src="../assets/img/nodejs.png" class="node">
