
<div class="marginbot">
<!-- TITLE-->
    <div class="title">
        <h1 class="center">Accédez à votre passeport en ligne</h1>
    </div>

<!-- Carousel-->
    <div class="container-fluid">

        <ngb-carousel >
          <ng-template ngbSlide>
            <img src="../assets/img/passeport.jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h3>Nips</h3>
              <p>Accédez à vos passeports en toute simplicité</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../assets/img/hyper.png" alt="Random second slide">
            <div class="carousel-caption ">
              <h3>Hyperledger</h3>
              <p class="Deuxieme">Utilisation de la nouvelle technologie hyperledger d'IBM</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="../assets/img/secu.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Blockchain</h3>
              <p>La technologie du bitcoin au service de la sécurité des données de vos passeports</p>
            </div>
          </ng-template>
        </ngb-carousel>
        </div>

<!--EQUIPE-->
    <div class="centered">
        <h1 class="center">Notre équipe</h1>
    </div>
    <div class="margeOff">
    <b class="cercle pos1"></b>
    <b class="cercle pos2"></b>
    <b class="cercle pos3"></b>
    <b class="cercle pos4"></b>
    </div>
    <div class="margeOff2">
    <b class="cercle pos1"></b>
    <b class="cercle pos2"></b>
    <b class="cercle pos3"></b>
    
    <b class="cercle pos4"></b>
    <img src="../assets/img/jerome_bitmoji.png" class="jerome">
    <img src="../assets/img/nouille.png" class="nouille">
    <img src="../assets/img/julien.png" class="julien">
    <img src="../assets/img/clement.png" class="clement">
    <img src="../assets/img/Oussama.png" class="oussama">
    <img src="../assets/img/Jean.png" class="jean">
    <img src="../assets/img/abdessamad.png" class="abde">
    <img src="../assets/img/theo.png" class="theo">
    <!--
    <span class=name> JEROME SOLA</span>
    <span class=name1>NATHALIE UY</span>
    <span class=name2>JULIEN MATHET</span>
    <span class=name3>OUSSAMA ZEMZAMI</span>
    <span class=name4>CLEMENT LEFEU</span>
    <span class=name5>THEO LEPINE</span>
    <span class=name6>ABDESSAMAD ATIA</span>
    <span class=name7>JEAN RAJAONA</span>-->
    </div>

<!--Techno-->

    <div class="centered2">
        <h1 class="center">Technologies</h1>
    </div>
    <img src="../assets/img/angular.png" class="ang">
    <img src="../assets/img/hyperledger.png" class="hyper">
    <img src="../assets/img/nodejs.png" class="node">
</div>