<div class="login-page">
  <div class="container-fluid animated fadeIn">
    <div class="row">
      <div class="col-sm-8 m-auto col-sm-8 col-12">
        <div class="log-box">
          <div class="row">
            <div class="col-sm-5 col-sm-5 col-12">
              <div class="logo-back">
                <div class="container-fluid">
                  <div class="row">
                    <div class="rectangle mt-sm-1" [class.selected]="espace==='Citoyen'" (click)="Espace('Citoyen')">
                      <p> CITOYEN</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="rectangle gouvernement" [class.selected]="espace==='Gouvernement'" (click)="Espace('Gouvernement')">
                      <p> GOUVERNEMENT</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="rectangle douane" [class.selected]="espace==='Douane'" (click)="Espace('Douane')">
                      <p> DOUANE</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-7 col-sm-7 col-12">
              <div class="log-content">
                <h1 class=" animated fadeInDown">{{espace}}</h1>
                <div class="log-body">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
                    <div class="form-group myr-top">
                      <label>Login</label>
                      <input #login type="text" class="form-control custom" id="identifiant" formControlName="identifiant"
                        [ngClass]="{ 'is-in valid': submitted && f.identifiant.errors }" placeholder="{{placeholder}}" autocapitalize="off"/>
                    </div>
                    <div class="form-group myr-top">
                      <label>Password</label>
                      <input type="password" class="form-control custom" placeholder="Mot de Passe" id="password"
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocapitalize="off">
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-md-auto">
                          <div class="log-btn text-center">
                            <button class="btn btn-theme1">Connexion</button>
                          </div>
                        </div>
                        <div class="form-group col-md-auto">
                          <div class="log-btn text-center">
                            <button class="btn btn-theme1" [routerLink]="['/Accueil']">Retour</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="log-bottom-cotent">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>